# Imports

In [1]:
import os
import pandas as pd
import env

## Here we are creating a function that will call in the data from our sql database.

In [4]:

def acquire_zillow_data():
    """
    Acquires Zillow data by querying the database and saving the result in a CSV file.
    If the CSV file already exists, it returns the data from the file instead of querying the database again.
    
    Returns:
        DataFrame: Zillow data
        
    """
    query = "\
    select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips \
    from properties_2017 \
    left join propertylandusetype using(propertylandusetypeid) \
    where propertylandusedesc = 'Single Family Residential'"

    if os.path.exists('zillow.csv'):
        # If the CSV file already exists, read the data from the file
        return pd.read_csv('zillow.csv')
    else:
        # Query the database, save the result in a CSV file, and return the data
        df = pd.read_sql(query, get_connection())
        df.to_csv('zillow.csv')
        return pd.read_csv('zillow.csv', index_col=0)


def get_connection(user=env.user, password=env.password, host=env.host, database=env.database):
    """
    Creates a connection string for MySQL using the provided credentials and database information.

    Args:
        user (str): MySQL username
        password (str): MySQL password
        host (str): MySQL host
        database (str): MySQL database name

    Returns:
        str: MySQL connection string

    """
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [9]:
#t estinmg the function 
df = acquire_zillow_data()

In [10]:
# First glimps of data
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0